microservice-chart:
  namespace: "mock"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-mock-config-be
    tag: "1.1.3-7-NOD-700-mocker-fix-modifica-risorsa-di-mock"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    port: 8080
  ingress:
    create: true
    host: "weudev.mock.internal.dev.platform.pagopa.it"
    path: /pagopa-mock-config-be/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "0.25"
    limits:
      memory: "512Mi"
      cpu: "0.25"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 10
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  envConfig:
    WEBSITE_SITE_NAME: 'pagopamockconfig' # required to show cloud role name in application insights
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-connection-string'
    APPLICATIONINSIGHTS_ROLE_NAME: "pagopa-mock-config"
    ENV: 'aks-dev'
    APP_LOGGING_LEVEL: 'DEBUG'
    DEFAULT_LOGGING_LEVEL: 'INFO'
    CORS_CONFIGURATION: '{"origins": ["*"], "methods": ["*"]}'
    SPRING_DATASOURCE_DRIVER: 'org.postgresql.Driver'
    SPRING_JPA_DB_PLATFORM: 'org.hibernate.dialect.PostgreSQLDialect'
    DATABASE_SCHEMA: 'mocker'
    REDIS_HOST: "pagopa-d-redis.redis.cache.windows.net"
    REDIS_PORT: "6380"
  envSecret:
    SPRING_DATASOURCE_URL: 'db-mocker-url'
    SPRING_DATASOURCE_USERNAME: 'db-mocker-user-name'
    SPRING_DATASOURCE_PASSWORD: 'db-mocker-user-pwd'
    REDIS_PASSWORD: 'redis-password'
    OTEL_AUTH_BEARER: "otel-auth-bearer"
  keyvault:
    name: "pagopa-d-mock-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  canaryDelivery:
    deployment:
      image:
        tag: 1.0.1-6-enhancements
    create: false
